.dots-map__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #150925;
  opacity: 0.54;
  animation-name: backdrop-fadeIn;
  animation-duration: 0.8s;
}

@keyframes backdrop-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.54;
  }
}

@media (max-width: 800px) {
  .dots-map__backdrop {
    top: -118px;
    height: calc(100% + 118px);
  }
}
