.dots-map__countries-dropdown {
  width: 210px;
  height: 359px;
}

.dots-map__countries-dropdown .dots-map__dropdown-content {
  height: 280px;
}

.dots-map__countries-dropdown li {
  border-top: none;
  border-bottom: none;
  padding-left: 5px;
}

.dots-map__countries-dropdown__country {
  font-size: 14px;
  text-transform: capitalize;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.dots-map__countries-dropdown__country > :first-child {
  margin-right: 10px;
}

.dots-map__countries-dropdown__country span {
  opacity: 0.5;
}
