.dots-map__canvas {
  visibility: hidden;
  background-color: transparent;
  box-sizing: content-box;
  width: 100%;
  aspect-ratio: 2;
}

.dots-map__canvas--ready {
  visibility: visible;
  animation-duration: 0.8s;
  animation-name: scaleIn;
}

.dots-map--hidden .dots-map__canvas--ready {
  visibility: hidden;
}

.dots-map__canvas__dot {
  pointer-events: none;
  transition: fill 0.2s ease-in;
}

.dots-map__canvas__clickable-overlay--clickable {
  cursor: pointer;
  pointer-events: all;
}

@media (max-width: 800px) {
  .dots-map__canvas {
    min-width: 1000px;
    height: auto;
    width: auto;
  }
}
