.dots-map__dropdown {
  position: absolute;
  width: 358px;
  height: 508px;
  background: white;
  border: 1px solid var(--border-color);
  z-index: 2;
  border-radius: 8px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.04);
}

.dots-map__dropdown header {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.dots-map__dropdown-content {
  padding-right: 10px;
  margin: 10px;
  overflow: auto;
  height: 425px;
}

.dots-map__dropdown:before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: -7px;
  left: 30px;
  transform: rotate(45deg);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  background: white;
  z-index: 1;
}
