.dots-map__filters {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 50px;
  font-size: 18px;
  font-weight: bold;
}

.dots-map__filters__badge {
  font-size: 10px;
  display: inline-block;
  margin-left: 5px;
}

.dots-map__filters__dropdown-container {
  margin-top: 10px;
}
