.dots-map__filters {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #bdbdbd;
}

.dots-map__filters li:hover {
  color: var(--main-color);
}

.dots-map__filters__badge {
  font-size: 10px;
  display: inline-block;
  margin-left: 5px;
  color: #454545;
  font-weight: bold;
}

.dots-map__filters li:hover .dots-map__filters__badge {
  color: var(--main-color);
}

.dots-map__filters__dropdown-container {
  margin-top: 10px;
}
