.dots-map__filters {
  position: relative;
  padding: 13px 18px;
  border-bottom: 1px solid #ececec;
}

.dots-map__filter--highlighted {
  color: var(--main-color);
}

.dots-map__filters__badge {
  font-size: 10px;
  display: inline-block;
  margin-left: 5px;
  color: #454545;
  font-weight: bold;
}

.dots-map__filter--highlighted .dots-map__filters__badge {
  color: var(--main-color);
}

.dots-map__filters__dropdown-container {
  margin-top: 10px;
}
