.dots-map__organizations-dropdown__organization {
  cursor: default;
}

.dots-map__organizations-dropdown__organization header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
}

.dots-map__organizations-dropdown__organization header .dots-map__icon {
  margin-right: 8px;
}

.dots-map__organizations-dropdown__organization-name {
  font-size: 14px;
  display: block;
  text-transform: capitalize;
  margin-right: 8px;
}

.dots-map__organizations-dropdown__organization-description {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 15px;
}

.dots-map__organizations-dropdown__organization-countries {
  display: flex;
  border-radius: 200px;
  background-color: var(--light-background);
  padding: 3px 14px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid #ececec;
  font-size: 8px;
}

.dots-map__organizations-dropdown__organization-countries
  .dots-map__icon.dots-map__icon--no-style {
  margin-right: 0;
  padding: 5px;
  height: auto;
}

.dots-map__list
  > li:hover
  .dots-map__organizations-dropdown__organization-countries {
  background: white;
}
