.dots-map__project-list__project-type {
  display: block;
  font-size: 8px;
  color: var(--text-secondary-color);
  text-transform: uppercase;
}

.dots-map__project-list__project-name {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.dots-map__project-list__project-organization {
  display: block;
  color: var(--main-color);
  margin-top: 5px;
}
