.dots-map__projects-count-circle {
  cursor: pointer;
}

.dots-map__region-pill {
  border-radius: 200px;
  padding: 8px 10px;
  background: white;
  border: 1px solid var(--region-pill-color);
  color: var(--region-pill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 100;
  transition: transform 0.2s ease-in;
}

.dots-map__region-pill img {
  width: 12px;
  display: block;
  margin-right: 8px;
}

.dots-map__region-pill--hover {
  border-color: var(--region-pill-hover-color);
  color: var(--region-pill-hover-color);
}

.dots-map__region-pill--selected {
  border-color: var(--region-pill-selected-color);
  color: var(--region-pill-selected-color);
}

.dots-map__region-pill--hover,
.dots-map__region-pill--selected {
  transform: scale(1);
}

.dots-map__region-pill--hidden {
  transform: scale(0);
}
