.dots-map__region-result {
  font-size: 14px;
  text-transform: capitalize;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 11px 0 14px 0;
}

.dots-map__region-result span {
  opacity: 0.5;
}

.dots-map__region-result .dots-map__icon {
  margin-right: 7px;
}

.dots-map__region-result img {
  width: 11px;
}
