.dots-map__results-list {
  overflow: auto;
  margin: 19px;
  padding-right: 19px;
  height: calc(100vh - 185px);
  background: white;
}

.dots-map__results-list__category-results:not(:first-child) {
  margin-top: 35px;
}

.dots-map__results-list__results-count {
  font-size: 18px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 12px;
}

.dots-map__results-list__no-results {
  font-size: 18px;
}

@media (max-width: 800px) {
  .dots-map__results-list {
    margin: 0;
    padding: 19px;
    height: calc(100vh - 158px);
  }

  .dots-map__results-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dots-map__results-list::-webkit-scrollbar {
    display: none;
  }
}
