.dots-map__searchbar {
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  position: relative;
  border: 1px solid #ececec;
}

.dots-map__searchbar__adornment {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-map__searchbar__adornment img {
  width: 11px;
}

.dots-map__searchbar input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  font-size: 8px;
  border-radius: 8px;
}

.dots-map__searchbar input:focus-visible {
  outline-color: var(--main-color);
}
