.dots-map__tooltip {
  background: white;
  border: 0.5px solid #d3d3d3;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.04);
  position: absolute;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.dots-map__tooltip:before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: -7px;
  transform: rotate(-45deg);
  margin: auto;
  left: 0;
  right: 0;
  border-bottom: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  background: white;
  z-index: 1;
  font-size: 12px;
}

.dots-map__tooltip > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
}

.dots-map__tooltip .dots-map__icon {
  margin-right: 5px;
  width: auto;
  height: auto;
  min-width: 22px;
  min-height: 12px;
}

.dots-map__tooltip__country-name {
  text-transform: capitalize;
}

.dots-map__tooltip__projects-count {
  color: var(--main-color);
}
