.dots-map {
  padding: 25px;
  max-width: 800px;
  position: relative;
  margin: auto;
}

.dots-map__filters-container {
  margin: 35px 0;
}

.dots-map__map-container {
  height: 400px;
}

.dots-map__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
