.dots-map {
  padding: 50px;
  position: relative;
  margin: auto;
}

@media (max-width: 1000px) {
  .dots-map {
    padding: 25px;
  }
}

.dots-map__filters-container {
  margin: 35px 0;
  display: flex;
  justify-content: center;
}

.dots-map__main {
  position: relative;
}

.dots-map__map-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  transform: perspective(0);
}

.dots-map__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dots-map__card--west {
  margin: auto;
  margin-right: 25vw;
}

.dots-map__card--east {
  margin: auto;
  margin-left: 25vw;
}

@media (max-width: 600px) {
  .dots-map__card--west,
  .dots-map__card--east {
    margin: auto;
  }
}

@media (max-width: 800px) {
  .dots-map__map-container::-webkit-scrollbar {
    width: 0px;
  }

  .dots-map__map-container::-webkit-scrollbar-track {
    background: transparent;
  }

  .dots-map__map-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  /* Works on Chrome, Edge, and Safari */
  .dots-map__map-container::-webkit-scrollbar {
    width: 0px;
  }

  .dots-map__map-container::-webkit-scrollbar-track {
    background: transparent;
  }

  .dots-map__map-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 1px solid transparent;
  }
}
