.dots-map {
  padding: 50px;
  position: relative;
  margin: auto;
}

@media (max-width: 1000px) {
  .dots-map {
    padding: 25px;
  }
}

.dots-map__filters-container {
  margin: 35px 0;
  display: flex;
  justify-content: center;
}

.dots-map__map-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.dots-map__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
