@tailwind base;

:root {
  --main-color: #9963f7;
  --text-main-color: #060606;
  --text-secondary-color: #9b9b9b;
  --light-background: #f9f9f9;
  --border-color: #ebebeb;
  font-size: 10px;
}

body {
  color: var(--text-main-color);
}

*:focus-visible {
  outline-color: transparent;
}

* {
  scrollbar-color: var(--main-color) grey;
  scrollbar-width: 2px;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: #e3e3e3;
}

body::-webkit-scrollbar-thumb {
  background-color: #9963f7; /* color of the scroll thumb */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #e3e3e3;
}

*::-webkit-scrollbar-thumb {
  background-color: #9963f7;
  border: 1px solid #9963f7;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(0, -50%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.dots-map--slideIn {
  animation-duration: 0.2s;
  animation-name: slideIn;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
