@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #9963f7;
  font-size: 10px;
}

* {
  scrollbar-color: var(--main-color) grey;
  scrollbar-width: 2px;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: #e3e3e3;
}

body::-webkit-scrollbar-thumb {
  background-color: #9963f7; /* color of the scroll thumb */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #e3e3e3;
}

*::-webkit-scrollbar-thumb {
  background-color: #9963f7;
  border: 1px solid #9963f7;
}
